@using BK9K.Game.Extensions
@using BK9K.Game.Data
@using BK9K.Cards.Types
@using BK9K.Cards
@using OpenRpg.Core.Effects
@using OpenRpg.Localization.Repositories

@inject ILocaleRepository LocaleRepository

<div class="container game-card" draggable="@Draggable.ToString().ToLower()" ondragstart="OnStartDragCard(event)" ondrag="OnDragging(event)" ondragend="OnEndDragCard(event)" card-type="@Card.CardType" view-id="@Card.UniqueId">
    <div class="card @CardTypeClass">
        <div class="card-content">
            <div class="content has-text-centered">
                <h3 class="ribbon">
                    <p class="ribbon-content">@Card.NameLocaleId</p>
                </h3>
                <div class="card-body">
                    <div class="card-effects">
                        <EffectList Effects=@Card.Effects.ToArray()></EffectList>
                    </div>
                    @if (Card.CardType == CardTypes.EquipmentCard)
                    {
                        <div class="box as-circle has-background-link-light">
                            <span class="is-size-4">
                                @GetMaximumEffectPotency.Potency
                            </span>
                        </div>
                    }
                </div>
                <div class="description-section">
                    <p>@Card.DescriptionLocaleId</p>
                </div>
                <span class="card-tag tag">@CardTypeText</span>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ICard Card { get; set; }

    [Parameter]
    public bool Draggable { get; set; } = false;

    public string CardTypeClass => $"card-type-{Card.CardType}";
    public string CardTypeText => LocaleRepository.Retrieve(LocaleRepository.GetKeyFor(DefaultLocaleRepository.CardTypesTextKey, Card.CardType));
    public Effect GetMaximumEffectPotency => Card.Effects.OrderByDescending(x => x.Potency).FirstOrDefault();

}