@using BK9K.Mechanics.Units
@using OpenRpg.Cards.Effects
@using OpenRpg.Cards.Genres

<CardSection>
    <div class="container">
        @if (Unit != null)
        {
            <div class="columns">
                <div class="column">
                    <CharacterDetails Name="@Unit.NameLocaleId" RaceTemplate="@Unit.Race" Class="@Unit.Class"/>
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Equipment</h4>
            <div class="columns">
                <div class="column">
                    <GameCard Card="@WeaponCard"/>
                </div>
                <div class="column">
                    <GameCard Card="@ArmourCard"/>
                </div>
                <div class="column">
                    <GameCard Card="@EffectsCard"/>
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Abilities</h4>
            <div class="columns">
                <div class="column">
                    @if(AbilityCards.Count >= 1)
                    { <GameCard Card="@AbilityCards[0]"/> }
                    else
                    { <EmptyCard /> }
                </div>
                <div class="column">
                    @if(AbilityCards.Count >= 2)
                    { <GameCard Card="@AbilityCards[1]"/> }
                    else
                    { <EmptyCard /> }
                </div>
                <div class="column">
                   @if(AbilityCards.Count >= 3)
                   { <GameCard Card="@AbilityCards[2]"/> }
                   else
                   { <EmptyCard /> }
                </div>
            </div>
        }
    </div>
</CardSection>

@code {

    [Parameter]
    public Unit Unit { get; set; }

    public EquipmentCard WeaponCard { get; set; }
    public EquipmentCard ArmourCard { get; set; }
    public EffectCard EffectsCard { get; set; }
    public List<AbilityCard> AbilityCards { get; } = new();

    protected override void OnInitialized()
    {
        WeaponCard = new EquipmentCard(Unit.Equipment.MainHandSlot.SlottedItem);
        ArmourCard = new EquipmentCard(Unit.Equipment.UpperBodySlot.SlottedItem);

        foreach (var ability in Unit.ActiveAbilities)
        { AbilityCards.Add(new AbilityCard(ability)); }

        var effectsWrapper = new CardEffects
        {
            NameLocaleId = "Passive Effects",
            DescriptionLocaleId = "Passive effects on the unit",
            Effects = Unit.PassiveEffects
        };

        EffectsCard = new EffectCard(effectsWrapper);

    }

}