@using BK9K.Framework.Units
@using BK9K.Framework.Types
@using OpenRpg.Genres.Fantasy.Extensions

<div class="unit-avatar">
    @{ var className = GetClassName(Unit.Class.ClassTemplate.Id); }
    <span class="tag is-info @GetFactionClass(Unit.FactionType)">@Unit.NameLocaleId</span>
    <img src="./assets/sprites/@(className).png" alt="@className">
    <div class="tags has-addons">
        <span class="tag">
            <span class="icon">
                <i class="fas fa-heart"></i>
            </span>
        </span>
        <span class="tag is-danger">@Unit.Stats.Health()</span>
        <span class="tag">
            <span class="icon">
                <i class="fas fa-fist-raised"></i>
            </span>
        </span>
        <span class="tag is-warning">@Unit.Stats.SlashingDamage()</span>
    </div>
</div>

@code {
    [Parameter]
    public Unit Unit { get; set; }

    public string GetFactionClass(byte factionType)
    {
        if(factionType == FactionTypes.Player) { return "is-success"; }
        if(factionType == FactionTypes.Enemy) { return "is-danger"; }
        return "";
    }

    public string GetClassName(int classType)
    {
        if (classType == ClassTypes.Mage) { return "mage"; }
        if (classType == ClassTypes.Rogue) { return "rogue"; }
        if (classType == ClassTypes.Fighter) { return "fighter"; }
        return "peasant";
    }
}