@using OpenRpg.Genres.Fantasy.Characters
@using BK9K.Game.Cards

<CardSection>
    <div class="container">
        @if (Character != null)
        {
            <div class="columns">
                <div class="column">
                    <CharacterDetails Name="@Character.NameLocaleId" RaceTemplate="@Character.Race" Class="@Character.Class" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterVitals Stats="@Character.Stats" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterStats Stats="@Character.Stats" />
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Characteristics</h4>
            <div class="columns">
                <div class="column">
                    <GameCard Card="@RaceCard" />
                </div>
                <div class="column">
                    <GameCard Card="@ClassCard" />
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Equipment</h4>
            <div class="columns">
                <div class="column">
                    <GameCard Card="@WeaponCard" />
                </div>
                <div class="column">
                    <GameCard Card="@ArmourCard" />
                </div>
            </div>
        }
    </div>
</CardSection>

@code {

    [Parameter]
    public ICharacter Character { get; set; }

    public RaceCard RaceCard { get; set; }
    public ClassCard ClassCard { get; set; }
    public EquipmentCard WeaponCard { get; set; }
    public EquipmentCard ArmourCard { get; set; }

    protected override void OnInitialized()
    {
        RaceCard = new RaceCard(Character.Race);
        ClassCard = new ClassCard(Character.Class.ClassTemplate);
        WeaponCard = new EquipmentCard(Character.Equipment.MainHandSlot.SlottedItem);
        ArmourCard = new EquipmentCard(Character.Equipment.UpperBodySlot.SlottedItem);
    }



}