@using OpenRpg.Genres.Fantasy.Characters

<CardSection>
    <div class="container">
        @if (Character != null)
        {
            <div class="columns">
                <div class="column">
                    <CharacterDetails Name="@Character.NameLocaleId" RaceTemplate="@Character.Race" Class="@Character.Class" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterVitals Stats="@Character.Stats" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterStats Stats="@Character.Stats" />
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Characteristics</h4>
            <div class="columns">
                <div class="column">
                    <Card Title="@Character.Race.NameLocaleId" Description="@Character.Race.DescriptionLocaleId" Effects="@Character.Race.Effects.ToArray()" />
                </div>
                <div class="column">
                    <Card Title="@Character.Class.ClassTemplate.NameLocaleId" Description="@Character.Class.ClassTemplate.DescriptionLocaleId" Effects="@Character.Class.ClassTemplate.Effects.ToArray()" />
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Equipment</h4>
            <div class="columns">
                <div class="column">
                    <Card Title="@Character.Equipment.MainHandSlot.SlottedItem.ItemTemplate.NameLocaleId" Description="@Character.Equipment.MainHandSlot.SlottedItem.ItemTemplate.DescriptionLocaleId" Effects="@Character.Equipment.MainHandSlot.SlottedItem.ItemTemplate.Effects.ToArray()" />
                </div>
                <div class="column">
                    <Card Title="@Character.Equipment.UpperBodySlot.SlottedItem.ItemTemplate.NameLocaleId" Description="@Character.Equipment.UpperBodySlot.SlottedItem.ItemTemplate.DescriptionLocaleId" Effects="@Character.Equipment.UpperBodySlot.SlottedItem.ItemTemplate.Effects.ToArray()" />
                </div>
            </div>
        }
    </div>
</CardSection>

@code {

    [Parameter]
    public ICharacter Character { get; set; }

}