@using OpenRpg.Genres.Fantasy.Characters

<CardSection>
    <div class="container">
        @if (Character != null)
        {
            <div class="columns">
                <div class="column">
                    <CharacterDetails Name="@Character.NameLocaleId" RaceTemplate="@Character.Race" Class="@Character.Class" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterVitals Stats="@Character.Stats" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterStats Stats="@Character.Stats" />
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Characteristics</h4>
            <div class="columns">
                <div class="column">
                    <RaceCard RaceTemplate="@Character.Race" />
                </div>
                <div class="column">
                    <ClassCard ClassTemplate="@Character.Class.ClassTemplate" />
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Equipment</h4>
            <div class="columns">
                <div class="column">
                    <EquipmentCard Item="@Character.Equipment.MainHandSlot.SlottedItem" />
                </div>
                <div class="column">
                    <EquipmentCard Item="@Character.Equipment.UpperBodySlot.SlottedItem" />
                </div>
            </div>
        }
    </div>
</CardSection>

@code {

    [Parameter]
    public ICharacter Character { get; set; }

}