@using BK9K.Game.Cards
@using BK9K.Framework.Units
@using BK9K.Framework.Effects

<CardSection>
    <div class="container">
        @if (Unit != null)
        {
            <div class="columns">
                <div class="column">
                    <CharacterDetails Name="@Unit.NameLocaleId" RaceTemplate="@Unit.Race" Class="@Unit.Class"/>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterVitals Stats="@Unit.Stats"/>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <CharacterStats Stats="@Unit.Stats"/>
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Characteristics</h4>
            <div class="columns">
                <div class="column">
                    <GameCard Card="@RaceCard"/>
                </div>
                <div class="column">
                    <GameCard Card="@ClassCard"/>
                </div>
                <div class="column">
                    <GameCard Card="@EffectsCard"/>
                </div>
            </div>
            <h4 class="subtitle mb-2 has-text-dark has-text-centered">Equipment</h4>
            <div class="columns">
                <div class="column">
                    <GameCard Card="@AbilityCard"/>
                </div>
                <div class="column">
                    <GameCard Card="@WeaponCard"/>
                </div>
                <div class="column">
                    <GameCard Card="@ArmourCard"/>
                </div>
            </div>
        }
    </div>
</CardSection>

@code {

    [Parameter]
    public Unit Unit { get; set; }

    public RaceCard RaceCard { get; set; }
    public ClassCard ClassCard { get; set; }
    public EquipmentCard WeaponCard { get; set; }
    public EquipmentCard ArmourCard { get; set; }
    public EffectCard EffectsCard { get; set; }
    public AbilityCard AbilityCard { get; set; }

    protected override void OnInitialized()
    {
        RaceCard = new RaceCard(Unit.Race);
        ClassCard = new ClassCard(Unit.Class.ClassTemplate);
        WeaponCard = new EquipmentCard(Unit.Equipment.MainHandSlot.SlottedItem);
        ArmourCard = new EquipmentCard(Unit.Equipment.UpperBodySlot.SlottedItem);
        AbilityCard = new AbilityCard(Unit.ActiveAbility);

        var effectsWrapper = new NamedEffects
        {
            NameLocaleId = "Passive Effects",
            DescriptionLocaleId = "Passive effects on the unit",
            Effects = Unit.CardEffects
        };

        EffectsCard = new EffectCard(effectsWrapper);

    }

}