@using SystemsRx.Events
@using SystemsRx.Extensions
@using BK9K.Game.Events.Units
@using System.Reactive.Linq
@using BK9K.Game.Events.Effects
@using BK9K.Mechanics.Types
@using BK9K.Mechanics.Units
@using BK9K.Web.Types
@using global::OpenRpg.Genres.Fantasy.Extensions

@inject IEventSystem EventSystem
@implements IDisposable

<div class="unit-avatar @(_isActiveUnit ? "is-active": "") @(_isTargetUnit ? "is-target" : "")" @onclick="() => OnUnitClick.InvokeAsync(Unit)" 
     ondragenter="OnCardDragEnter(event)" ondragleave="OnCardDragLeave(event)" ondragover="OnDragOver(event)" ondrop="OnCardDrop(event)" 
     view-type="@ViewTypes.Unit" view-id="@Unit.UniqueId">
    @{ var className = GetClassName(Unit.Class.ClassTemplate.Id); }
    <span class="tag is-info @GetFactionClass(Unit.FactionType)">@Unit.NameLocaleId</span>
    <img class="@(_isBuffed ? "has-buffs" : "") @(_isDebuffed ? "has-debuff" : "")" src="./assets/sprites/@(className).png" alt="@className">
    <div class="tags has-addons">
        <span class="tag">
            <span class="icon">
                <i class="fas fa-heart"></i>
            </span>
        </span>
        <span class="tag is-danger">@Unit.Stats.Health()</span>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<Unit> OnUnitClick { get; set; }

    [Parameter]
    public Unit Unit { get; set; }

    private bool _isActiveUnit, _isTargetUnit, _isBuffed, _isDebuffed;

    private List<IDisposable> _sub = new();

    public string GetFactionClass(int factionType)
    {
        if(factionType == FactionTypes.Player) { return "is-success"; }
        if(factionType == FactionTypes.Enemy) { return "is-danger"; }
        return "";
    }

    public string GetClassName(int classType)
    {
        if (classType == ClassTypes.Mage) { return "mage"; }
        if (classType == ClassTypes.Rogue) { return "rogue"; }
        if (classType == ClassTypes.Fighter) { return "fighter"; }
        return "peasant";
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        EventSystem.Receive<UnitStartTurn>().Where(x => x.Unit == Unit).Subscribe(OnUnitTurnStarted).AddTo(_sub);
        EventSystem.Receive<UnitEndTurn>().Subscribe(OnUnitTurnEnded).AddTo(_sub);
        EventSystem.Receive<UnitAttackedEvent>().Where(x => x.Target == Unit).Subscribe(OnUnitTargetted).AddTo(_sub);
        EventSystem.Receive<EffectAddedEvent>().Where(x => x.Unit == Unit).Subscribe(OnUnitActiveEffectAdded).AddTo(_sub);
        EventSystem.Receive<EffectExpiredEvent>().Where(x => x.Unit == Unit).Subscribe(OnUnitActiveEffectRemoved).AddTo(_sub);
    }

    public void OnUnitTurnEnded(UnitEndTurn args)
    {
        _isActiveUnit = false;
        _isTargetUnit = false;
        StateHasChanged();
    }

    public void OnUnitTurnStarted(UnitStartTurn args)
    {
        _isActiveUnit = true;
        StateHasChanged();
    }

    public void OnUnitTargetted(UnitAttackedEvent args)
    {
        _isTargetUnit = true;
        StateHasChanged();
    }

    public void OnUnitActiveEffectAdded(EffectAddedEvent args)
    {
        if (args.ActiveEffect.IsBeneficialEffect())
        { _isBuffed = true; }
        else
        { _isDebuffed = true; }
        StateHasChanged();
    }

    public void OnUnitActiveEffectRemoved(EffectExpiredEvent args)
    {
        if (args.ActiveEffect.IsBeneficialEffect())
        { _isBuffed = false; }
        else
        { _isDebuffed = false; }
        StateHasChanged();
    }

    public void Dispose()
    {
        _sub.DisposeAll();
    }

}